html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, #44746d 5%, #3D6661 24%, #365956 51%, #2F4B4B 76%, #283d40 97%);
  z-index: 1;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 2;
}

.sprite {
  position: absolute;
  width: 60px;
  height: 60px;
  transition: all 0.5s cubic-bezier(0.4,0,0.2,1);
  z-index: 3;
  object-fit: contain;
  background: none;
  border: none;
}

/* Center */
.sprite.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Bottom */
.sprite.bottom {
  top: auto;
  bottom: 12px; /* Offset from bottom */
  left: 50%;
  transform: translate(-50%, 0);
}

/* Top */
.sprite.top {
  top: 12px; /* Offset from top */
  left: 50%;
  transform: translate(-50%, 0);
}

/* Left */
.sprite.left {
  top: 50%;
  left: 12px; /* Offset from left */
  transform: translate(0, -50%);
}

/* Right */
.sprite.right {
  top: 50%;
  left: auto;
  right: 12px; /* Offset from right */
  transform: translate(0, -50%);
}
.calibration-complete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #C7AB7D;
  text-align: center;
  z-index: 10;
  font-size: 1.5rem;
}

.calibration-countdown {
  position: absolute;
  left: 50%;
  transform: translateX(-50%, -50%);
  z-index: 10;
  margin-top: 0.5cm;
  top: calc(50% + 30px); /* adjust 30px if needed for image height */
  font-size: 2rem;
  font-weight: bold;
  color: #efe3dc;
  text-align: center;
}