.student-profile-page {
  min-height: 100vh;
  background: linear-gradient(270deg, #44746d 5%, #3D6661 24%, #365956 51%, #2F4B4B 76%, #283d40 97%);
  font-family: Inter, sans-serif;
}

.student-profile-main {
  padding: 30px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.student-profile-header{
  text-align: center;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
}

.student-profile-title {
  color: #C7AB7D;
  font-size: 18px;
  line-height: 1.6;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.student-profile-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  width: 60%;
  max-width: 900px;
  margin: 0 auto;
}

.student-profile-error {
  border: 2px solid #EC221F;
  background: #F0F9D6;
}

.student-profile-form-group {
  margin-bottom: 25px;
}

.student-profile-label {
  display: block;
  color: #C7AB7D;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  margin-top: -10px;
}

.student-profile-input {
  width: 90%;
  height: 25px;
  padding: 3px 3px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  background: #F0F9D6;
  box-sizing: border-box;
  margin-bottom: 0px;
}

.student-profile-footer {
  text-align: center;
  margin-top: auto;
  padding-top: 30px;
}

.student-profile-continue-btn {
  background: #557257;
  color: #C7AB7D;
  border: 0.5px solid black;
  padding: 6px 18px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
}

.student-profile-continue-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}