.teacher-dashboard-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.teacher-dashboard-main-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 70px); /* Updated to match new nav bar height */
}